:root {
    --trans-bounce: 0.22s cubic-bezier(0.23, 1, 0.320, 1);
    --trans-bounce2: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    --trans-bounce3: 2s cubic-bezier(0.23, 1, 0.320, 1);
}
.container__toast {
    width: 35%;
    height: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 34px;
    z-index: 10000000;
    right: 0;
}
.toast {
    width: 25%;
    display: flex;
    align-items: center;
    background: linear-gradient(#141438, #141438) padding-box, linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 5px;
    border-left: 4px;
    box-shadow: 9 5px 8px rgba(0, 0 , 0 , 0.08);
    padding: 30px 0;
    margin-right: 10px;
    min-width: 400px;
    max-width: 450px;
    animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s forwards;
    transition: all linear 0.3s;
}
.toast__icon {
    font-size: 24px;
}
.toast__close,
.toast__icon {
    padding: 0 16px;
}
.toast__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.toast__title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
.toast__message {
    font-size: 14px;
    color: #888;
}
.toast__close ion-icon {
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: 0.25s ease-in;
}
.toast__close :hover {
    opacity: 0.8;
}
.toast__success {
    border-color: #47d864;
}
.toast__success ion-icon {
    color: #47d864;
}
.toast__error {
    border-color: #ff623d;
}
.toast__error ion-icon {
    color: #ff623d;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 70px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}